@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.font-orbitron {
  font-family: "Orbitron", sans-serif;
}
.font-poppins {
  font-family: 'Poppins', sans-serif;
}
body{
  overflow-x: hidden;
}
.blue-grad{
  position: absolute;
  background: #13013E;
  filter: blur(26.5px);
  width: 100%;
  height: 118px;
  margin-top: -180px;
  overflow: hidden;
  left: 0px;
}

/* cta button */


.cta-btn {
  width: 136px;
  height: 81px;
  font-size: 18px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  background-image: url('../public/assets/logos/button.png');
  transition: background 1s ease;
  background-repeat: no-repeat;
  background-size: contain;
  color: #fff;
}

.cta-btn:hover{
  width: 136px;
  height: 81px;
  display: flex;
  justify-content: center;
  background-image: url('../public/assets/logos/btn-white.png');
  color: black;
  background-repeat: no-repeat;
  background-size: contain;
}

.cta-btn p{
  margin-top: 11px;
}



